<!doctype html>
<html>
<head>
	<title>Final Project</title>
	<style>
		html, body {
			margin: 0;
			padding: 0;
		}
		body {
			height: 100vh;
			width: 100vw;
			animation: fadeIn ease 2s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
		h1 {
			color: #D73F09;
		}
		p {
			line-height: 1.5;
		}
		.row {
			display: flex;
			height: 100%;
			width: 100%;
			font-family: Tahoma, sans-serif;
			color: black;
		}
		.col {
			flex: 50%;
		}
		.photo {

		}
		.text {
			padding: 20px;
		}
		.btn {
			background-color: #D73F09;
			color: white;
			display: block;
			line-height: 40px;
			height: 40px;
			text-decoration: none;
			width: 100px;
			text-align: center;
		}
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>