<div class="row">
	<div class="col">
		<div class="text">
			<h1>Welcome</h1>
			<p>Use this web app to create a new profile or, if you already have an account, log in through Auth0. A JSON web token and your unique ID will be displayed on the user info page after signing in.</p>
			<a href="/login" class="btn">
				Log In
			</a>
		</div>
	</div>
	<div class="col photo">
	</div>
</div>
