<div class="row">
	<div class="col text">
		<h1>User Info</h1>
		<p>Hello, {{name}}</p>
		<p><b>ID</b>: {{id}}</p>
		<p style="word-break: break-all;"><b>JWT</b>: {{jwt}}</p>
		<br>
		<a href="/logout" class="btn">
			Log Out
		</a>
	</div>
	<div class="col photo">
	</div>
</div>